.cont-footer {
    padding: 30px 0 0 0;
}

.footer {
    width: 100%;
    height: 130px;
    background-color: #091f2c;
    border-top: 1px solid #3f3f3f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.btn-footer {
    width: auto;
    display: flex;
    margin: 0 20px 0 0;
    border: none;
    background-color: #091f2c;
    color: #f0f0f0;
    font-size: 0.9rem;
    padding: 5px;
    z-index: 100;
} .btn-footer:hover {
    background-color: #0c2736;
}

.list-footer {
    margin: 0 10px;
}

.footer-link {
    margin: 0 10px;
    font-size: 0.9rem;
    color: #f0f0f0;
    text-decoration: none;
} .footer-link:hover {
    text-decoration: underline;
}

.theme {
    position: absolute;
    width: 200px;
    height: 110px;
    background-color: #171717;
    border: 1px solid #3f3f3f;
    padding: 5px;
    margin-top: -130px;
    margin-left: 170px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.theme::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #3f3f3f;
    top: 100%;
    left: 25%;
    z-index: 0;
    border-left: 10px solid #091f2c;
    border-right: 10px solid #091f2c;
    border-bottom: 10px solid transparent;
    transform: rotate(180deg);
}

.button-theme {
    width: 100%;
    height: 40px;
    background-color: #171717;
    border: none;
    text-align: left;
    color: #f0f0f0;
    display: flex;
    align-items: center;
} .button-theme:hover {
    background-color: #1f1e1e;
}

.ligth, .dark {
    padding-right: 10px;
} .dark {
    color: #3f3f3f;
}

.active-theme { border: 2px solid #75b6e7; }
.mostrar { display: flex; }

@media only screen and (max-width: 1800px) {
    .footer {
        padding: 0 20px;
    }
}

@media only screen and (max-width: 1000px) {
    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

@media only screen and (max-width: 800px) {
    .footer {
        height: auto;
        padding: 30px 20px;
        align-items: start;
    }
    .list-footer {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        padding-top: 20px;
    }
}